<section id="about">
    <div class="container clearfix">
        <div class="row margin-bottom">
            <h2 class="heading">About us</h2>
            {{ page.content }}
            <div class="col-md-12 margin-bottom">
                <h3 class="text-center">The funding partners of EIC are</h3>
                <style>
                    .col-md-3.partner {
                        text-align: center;
                        height: 300px;

                    }
                    .partner-logo {
                        background-repeat: no-repeat;
                        background-position: 50% 50%;
                        height: 300px;
                        width: calc(100% - 5px);
                        background-size: contain;
                        display: block;
                    }
                </style>

                {% for partner in site.data.partners %}
                <div class="col-md-3 partner">
                    <a href="{{ partner.url }}" name="{{ partner.name }}" target="_blank" class="partner-logo" style="background-image:url('/images/partners/{{ partner.image }}')"></a>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</section>
<section id="partners" class="section-gray">
    <div class="container clearfix">
        <div class="row">
            <div class="col-md-12">
                <h2 class="heading">partners</h2>
                <div class="row">
                    <div class="col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2">
                        <p class="lead">Discussions related to establishing this European Network started in 2015 and
                            involved <a href="http://www.spiegel.de/impressum/autor-981.html" target="_blank">Jörg
                                Schmitt</a>,
                            <a href="http://www.spiegel.de/impressum/autor-1199.html" target="_blank">Jürgen
                                Dahlkamp</a>,
                            Alfred Weinzierl and <a href=" http://www.spiegel.de/impressum/autor-570.html"
                                                    target="_blank">Klaus Brinkbäumer</a>
                            from Spiegel and <a href="http://theblacksea.eu/?idT=3&idC=3&uid=2" target="_blank">Stefan
                                Candea</a> from the
                            Romanian Centre for Investigative Journalism. <a href="http://alainlallemand.be/"
                                                                             target="_blank">Alain Lallemand</a> from Le
                            Soir
                            joined the group, and later <a href="https://twitter.com/hansenjohn01" target="_blank">John
                                Hansen</a> from Politiken,
                            Milorad Ivanovic from Newsweek Serbia, Florian Klenk from Falter, Paula Guisado from El
                            Mundo, Vlad Odobescu from The
                            Romanian Centre for Investigative Journalism, Michael Bird from The Black Sea, Fabrice Arfi from Mediapart and Vittorio Malagutti from L'Espresso.</p>
                        <p class="lead">EIC partners are pulling together resources to do investigative research but
                            also to develop tools and information design. We are building tools under a Free
                            Software Licence
                            and the lead developer is DER SPIEGEL IT department, but all EIC member organizations commit
                            themselves to contribute. </p>
                        <p class="lead">During the coming months EIC will decide on future partnerships related to
                            stories or tools
                            development. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>